body {
  background-color: #00007d;
  color: #fff;
}
nav a {
  text-decoration: none;
  color: white
}
img {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}
.size-images {
  height: 350px;
  width: 300px;
  margin: 20px;
}
.style-projects {
  display: flex;
  flex-direction: column;
}
.background-style {
  background-color: aqua;
  margin: 0 auto;
  height: 400px;

}
