@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body {
  background-color: #191a73;
  color: #fff;
  font-family: 'Manrope', sans-serif;
}
nav a {
  text-decoration: none;
  color: white
}
img {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin: 20px;
}
.size-images {
  height: 350px;
  width: 300px;
  margin: 20px;
}
.style-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}
.background-style {
  background: linear-gradient(#007cff, #bbdcff);
  margin: 0 auto;
  height: 400px;
}
button {
  background-color: #007cff;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
.footer {
  height: 70px;
  width: 100%;
  background-image: url(http://www.zingerbugimages.com/backgrounds/sky_blue_starburst_radiating_lines_background_1800x1600.jpg); 
  color: transparent;
}
.home-image {
  height: 600px;
  width: 100%;
  margin: 10px;
}
a {
  color: #fff;
  cursor: pointer;
}
.bio{
  font-size: 25px;
  margin: 20px;
  text-align: justify;
  border: 3px solid #bbdcff;
  padding: 10px;
}
